# Environment Variables
export JSON_JAVA=$HOME/Library/JSON
export CLASSPATH=$CLASSPATH:$JSON_JAVA/json-simple-1.1.1.jar

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"                   # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" # This loads nvm bash_completion

# Mac
if [[ "$OSTYPE" == "darwin"* ]]; then
  # pnpm
  export PNPM_HOME="/Users/zkwokleung/Library/pnpm"
  case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
  esac

  # zsh-completions
  export FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

  # fzf
  export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -l -g ""'

  # Ruby
  export PATH="$PATH:/opt/homebrew/opt/ruby/bin"

  # Flutter
  export PATH="$PATH:$HOME/Developments/flutter/bin"

  # bun
  export BUN_INSTALL="$HOME/.bun"
  export PATH="$BUN_INSTALL/bin:$PATH"

  # deno
  export DENO_INSTALL="~/.deno"
  export PATH="$DENO_INSTALL/bin:$PATH"
fi

# Espanso
export EDITOR="/opt/homebrew/bin/nvim"
