[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Andrew SZETO
	email = zkwokleung@gmail.com
[core]
	excludesfile = /Users/zkwokleung/.gitignore
