# determine if the OS is macOS or linux
if [[ "$OSTYPE" == "darwin"* ]]; then
    # macOS
    zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|=*' 'l:|=* r:|=*'
    autoload -Uz compinit && compinit

elif [[ "$OSTYPE" == "linux-gnu"* ]]; then
    # Linux
    # Make Tab autocomplete regardless of filename case
    set completion-ignore-case on

    # List all matches in case multiple possible completions are possible
    set show-all-if-ambiguous on
fi
